* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: Lato;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
}

#fullpage{
    height: 100vh;
    overflow: visible;
}

#fullpage section{
    height: 100vh;
}

section:nth-of-type(3), section:nth-of-type(4),
section:nth-of-type(5),
section:nth-of-type(6){
    height: max-content !important;
}

/* Burger menu */

.first-button{
    margin-left: auto;
}

.animated-icon1{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #ffffff;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
/* Navbar adjustments */
    .navbar-light .navbar-toggler{
        outline: none;
        border: none;
    }

    .navbar{
        background-color: #000000;
        position: fixed !important;
        width: 100%;
        top: 0;
        transition: 500ms ease;
        z-index: 1;
    }

    .navbar-light .navbar-brand {
        color: rgba(255, 255, 255, 0.9) !important;
    }

    .navbar-brand-custom{
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        color: #ffffff;
    }

    .navbar-brand-custom:hover{
        text-decoration: none;
        color: #ffffff;
        transition: .3s ease;
        cursor: pointer;
    }

    .nav-link-custom{
        display: block;
        padding: .5rem 1rem;
        color: #ffffff;
        text-shadow:1px 1px 10px #000000, 1px 1px 10px rgb(0, 0, 0);
        font-size: 1.2em;
    }

    .nav-link-custom:hover{
        text-decoration: none;
        color: #8178D2;
        cursor: pointer;
        transition: .3s ease;
    }

    #navbarNav{
        justify-content: flex-end;
    }

    .logo-wrapper{
        width: 23.6vw;
        height: 5.2vh;
        background-image: url(assets/images/Logo_white.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: .5s ease;
        cursor: pointer;
    }

    .logo-wrapper:hover{
        background-image: url(assets/images/Logo_white_purple.svg);
    }

/* First section */

#fullpage section:nth-child(1){
    background-image:url(assets/images/landing-page-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #ffffff;
    position: relative;
}

section:nth-child(1) h1, section:nth-child(1) h3{
    color: #ffffff;
    text-shadow:1px 1px 5px #000000;
    font-family: Lato;
}

.landing-video-wrapper{
    position: relative;
    position: absolute;
}

#landing-video{
    height: 100vh;
}

.title-paragraph{
    font-size: 2.5em;
    margin: inherit;
    margin-top: 20vh;
}

.subtitle-paragraph{
    font-size: 1.5em;
    margin: inherit;
}

.first-section-wrapper{
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#main-page{
    display: flex;
    flex-flow: column;
    margin: 5%;
}

.first-section-footer{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0vh 4vw;
}

.partners img{
    max-height: auto;
    max-width: 15vw;
    margin-left: 4vw;
}

.social img{
    max-width: 7vw;
    margin-right: 4vw;
}

/* Go To Button */

.goToButton{
    background-color: #8178D2;
    font-family: Lato;
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    width: 50vw;
    height: 7.4vh;
    border-radius: 4px;
    margin: inherit;
    padding: 5%;
}

/* Second section */

#fullpage section:nth-child(2){
    background-color: #ffffff;
}

.second-section-wrapper,
.third-section-wrapper,
.fourth-section-wrapper,
.fifth-section-wrapper,
.sixth-section-wrapper,
.main-wrapper{
    display: flex;
    flex-flow: column;
    margin: 5%;
    height: inherit;
}


.main-title{
    color: #8178D2;
    font-family: Lato-Bold;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 10vh 5vw 0vh 5vw;
}

.main-subtitle{
    font-family: Lora;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 1.5em;
    line-height: normal;
    letter-spacing: normal;
    color: #1a1c1c;
    margin: 1vh 5vw;
  }

.second-section-wrapper p{
    font-family: Lora;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #565656;
    margin: 3vh 3vw 10vh 3vw;
}

/* Responsive YouTube embed: https://avexdesigns.com/responsive-youtube-embed/ */

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; 
    overflow: hidden;
}
    
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

/* Third section */

#fullpage section:nth-child(3){
    background-color: #ffffff;
}

.text-wrapper{
    margin: 2vh 3vw 2vh 3vw;
}

.text-wrapper p:nth-child(1){
    font-family: Lato;
    font-weight: bold;
    line-height: 1.3;
    color: #1a1c1c;
    font-size: 1em;
}

.text-wrapper p:nth-child(2){
    font-family: Lora;
    font-size: 1em;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.3;
    color: #626262;
}

.protect-wrapper{
    display: flex;
    flex-flow: row;
    margin: 2vh 2vw;
}

.protect-wrapper img{
    width: 20vw;
    height: 10vh;
    margin-right: 3vw;
}

.protect-wrapper p{
    font-family: Lato;
    font-weight: bold;
    line-height: 1.3;
    color: #1a1c1c;
    font-size: 1em;
}

.protect-wrapper span{
    font-family: Lato;
    font-weight: bold;
    line-height: 1.3;
    color: #8178D2;
    font-size: 1.5em;
}

.boxes-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vh;
}

.boxes-wrapper figure:nth-child(1),.boxes-wrapper figure:nth-child(2){
    position: relative;
    width: 75vw;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    border: solid 1px #cacaca;
    border-radius: 16px;
    margin: 2vh 2vw;
}

.boxes-wrapper figure:nth-child(1){
    background-image: url(assets/images/lease-buy-cover.jpg);
}

.boxes-wrapper figure:nth-child(2){
    background-image: url(assets/images/warehouse.jpg);
}

.figCaption{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    font-size: 1em;
    padding: 1vh 5vw;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    line-height: 1.5;
}

.figCaption span{
    color: #8178D2;
    font-size: 1.5em;
}

/* Fourth section */

#fullpage section:nth-child(4){
    background-color: #ffffff;
}

.main-wrapper p:nth-of-type(1){
    font-family: Lora;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #565656;
    margin: 3vh 3vw;
}

.main-wrapper p:nth-of-type(2){
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #1a1c1c;
    margin-left: 4vw;
}

.blog-social img{
    max-width: 2em;
    margin-left: 3vw;
    transition: .4s ease;
}

.blog-social img:hover{
    filter: brightness(1.4);
}

.blog-container{
    display: grid;
    grid-template-columns: 45% 40%;
    grid-column-gap: 5vw;
}

.blog-container figure{
    position: relative;
    width: inherit;
    height: 30vh;
    align-self: center;
    margin: 2vh 2vw;
}

.blog_img{
    position: relative;
    width: 41vw;
    height: inherit;
    align-self: center;
    border-radius: 16px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.24);
}

.blog_title{
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    font-size: 1.5em;
    position: absolute;
    bottom: 25%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

.blog_p{
    font-family: Lora;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    color: #ffffff;
    font-size: 1em;
    position: absolute;
    bottom: 7%;
    left: 3%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Fifth section */

#fullpage section:nth-child(5){
    background-color: #ffffff;
}

.main-p{
    font-family: Lora;
    font-size: 1em;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.3;
    color: #626262;
    margin: 1vh 3vw;
    transition: 1s ease;
}

.staff-wrapper{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}

.staff-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    width: 50vw;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 2vh 0vw;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.24);
    transition: .4s ease;
}

.staff-card:hover{
    transform: scale(1.05);
}

.staff-card:hover .staff-contact{
    color: #8178D2;
    transition: .4s ease;
}

.staff-card:hover .staff-img{
    filter: grayscale(0);
}

.staff-img{
    border-radius: 50%;
    width: 25vw;
    align-self: center;
    margin: 3vh 1vw;
    filter: grayscale(1);
    transition: .4s;
}

.staff-name{
    font-size: 1.3em;
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #2c2c2c;
    text-transform: capitalize;
    margin: 0;
}

.staff-position{
    font-family: Lato;
    font-size: 1em;
    font-weight: 500;
    font-stretch: normal;
    color: #565656;
    text-align: center;
    font-style: normal;
    margin: 2vh 1vw;
    line-height: 1.4;
}

.staff-contact{
    font-size: 1em;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    text-decoration: none;
    letter-spacing: normal;
    color: rgba(26, 28, 28, 0.24);
}

.partners-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f5f2ed;
    grid-template-rows: auto auto;
    width: 100%;
    height: 35vh;
    align-self: center;
    justify-items: center;
}

.partners-wrapper h2{
    font-family: Lato;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-size: 1.5em;
    line-height: normal;
    letter-spacing: normal;
    color: #1a1c1c;
    margin: 1vh 5vw;
    grid-column: 1 / -1;
}

.partners-wrapper img{
    max-width: 30vw;
    height: auto;
    align-self: center;
}

.partners-wrapper img:nth-last-of-type(1){
    max-width: 20vw;
}

/* Sixth section */

#fullpage section:nth-child(6){
    background-color: #ffffff;
}

.find-us{
    font-family: Lora;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 1.5em;
    line-height: normal;
    letter-spacing: normal;
    color: #1a1c1c;
    margin: 5vh 3vw 0vh 3vw;
}

.map-link{
    font-family: Lora;
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8178D2;
    text-decoration: none;
    margin: 1vh 1vw;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border-bottom: 1px solid; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #efefef;
}
  
  /* Style the submit button with a specific background color etc */
input[type=button] {
    background-color: #8178D2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgb(91, 85, 145);
}
  
  /* Add a background color and some padding around the form */
.form-container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
}

.glyphicon{
      color: green;
      font-size: 1.5em;
      margin-left: 2vw;
      opacity: 0;
}

.footer-custom{
      display: flex;
      height: 30vh;
      background-color: #1a1c1c;
      justify-content: space-between;
}

.footer-link-custom{
    display: block;
    padding: .7rem 1rem;
    color: #ffffff;
    text-shadow:1px 1px 10px #000000, 1px 1px 10px rgb(0, 0, 0);
    font-size: 1em;
    transition: .5s ease;
}

.footer-link-custom:hover{
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}



.social-copyright{
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    max-width: 33%;
    margin-top: 5%;
}

.social-copyright p{
    font-size: .8em;
    color: #cacaca;
    text-align: center;
}

.sitemap{
    margin-top: 5%;
    display: flex;
    width: 33%;
}

.sitemap ul{
    list-style-type: none;
}

.footer-logo{
    display: flex;
    margin-top: 5%;
    align-self: flex-start;
}

.logo-f-wrapper{
    width: 33%;
    display: flex;
    justify-content: center;
}

